---
layout: pages
---

<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      {{ content }}
    </section>

    <aside id="sidebar">
      <ul>
      {% for manual in site.data.manuals %}
        <li>
          <a href="{{ site.github.repository_url }}{{ manual.installation_guide }}">
            {{ manual.model }}
          </a>
        </li>
      {% endfor %}
      </ul>
      {% if site.github.is_project_page %}
        <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> maintenu par <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
      {% endif %}
    </aside>
  </div>
</div>

<h2 class="post_title">
  {{ page.title }}
  {% if page.date %}
    <small>{{ page.date | date_to_string }}</small>
  {% endif %}
</h2>

{{ content }}

{% include disqus.html %}
